<div class="about-main">
    <div class="container">
        <div class="about-text">
            <h1>TweetAppとは</h1>
            <p>SNSサービスです。 近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます</p>
            <img src="/tweets.png" class="about-image">
        </div>
    </div>
</div>