.top-main{
    color:white;
    background-image: url("/sunset.jpg");
    margin-top:-30px;
}
.top-text{
    padding:250px 0;
    text-align:center;
}
.top-text h1{
    font-size:80px;
}
.about-main{
    color:white;
    background-color:#87cefa;
    margin-top:-30px;
}
.about-text{
    padding:150px 0;
    text-align:left;
}
.about-text h1{
    font-size:80px;
}
.about-image{
    width:100%;
    margin-top:30px;
}